
.container {
    margin-top: 15px;
    background-image: url("../images/crystals6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    border: Solid blue 3px;
    border-radius: 4px;

    }

.container {
    padding: 30px;
    }
 
.my-row {
    margin: 10px;
    padding: 10px;
    }

#title {
    color: white;
    font-size: 36px;
    font-weight: bold;
    }

#wingem{
    border-radius: 8px;
    /* border: solid blue 3px; */
    height: 200px;
    width: 200px;
    /* margin: auto; */
    padding: 20px;
    background-color: blue;
    margin: auto;
    font-size: 108px;
    color:white
    }

#gemholder {
    border: 5px;
    border-color:red;
    }

.img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: solid blue 3px;
    }

.gem1, .gem2, .gem3, .gem4 {
    border-radius: 8px;
    border: solid blue 3px;
    height: 145px;
    width: 145px;
    padding: 10px;
    background-color:orange;
    margin: auto;
    }

.scores  {
    border-radius: 8px;
    border: solid blue 3px;
    padding: 10px;
    background-color:orange;
    margin: auto;
    }
